.vscode
node_modules
client/
!client/out/extension.js
server/
!server/out/server.js
tsconfig.json
webpack.config.js
gulpfile.js
.eslintignore
.eslintrc.js
.gitignore
contributing.md
.travis.yml
*.vsix

grammars/
scripts/
syntaxes/UnrealScript.YAML-tmLanguage
Icon.psd